<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
  
<suite name="Suite1" verbose="1" >



  <test thread-count= "5" name="EmployeeRestAssuredTests" >
    <classes>
        <class name="com.almatar.FBOapi.tests.TC00_GetAllEmployees" />
        <class name="com.almatar.FBOapi.tests.TC01_addEmployee" />
        <class name="com.almatar.FBOapi.tests.TC02_authentication" />
    </classes>
  </test>
 
  </suite>